.my-bg-photo {
	background: url('images/banner-bg.gif') no-repeat;
	background-size:auto;
	background-position: center center;
	position: relative;
  }
  
  .my-bg-photo * {
	position: relative;
	z-index: 10;
  }
  
  .my-bg-photo:before {
	content: " ";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2e16b8;
	opacity: .85;
  }
  
  
  
  .my-custom-container {
	max-width: 800px;
  }
  
  
  .my-business-photo {
	transition: all .33s ease-out;
	background-blend-mode: saturation;
  }
  
  .my-drawing:hover {
	transform: scale(1.054) rotate(15deg);
  }
  
  /* Table Styles  Begin */
  table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
  }
  
  .col-company-name {
	width: 55%;
  }
  
  .col-aisle, 
  .col-price,
  .col-quantity {
	width:15%
  }
  
  table th {
	text-align: left;
	background-color: 2e16b8;
	color: #FFFF;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  }
  
  table th,
  table td {
	border: 1px solid #869960;
	padding: 10px;
	vertical-align: top;
	}
  
	table tbody tr:nth-child(odd) td {
		background-color: #b9ec41;
	}
  
	table.grocery-list tr :nth-child(2),
	table.grocery-list tr :nth-child(3),
	table.grocery-list tr :nth-child(4) {
		text-align: center;
	}
  
  /* Table Styles  End */
  
  /* Form Styles Begin*/
  
  form {
	
	padding: 30px 40px;
  }
  
  .hidden-label {
	position: absolute;
	height:0;
	width:0;
	overflow: hidden;
	visibility: hidden;
  
  }
  
  input,
  select {
	font-family: Tahoma, sans-serif;
	font-size: 100%;
  }
  
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="number"],
  input[type="tel"], 
  select {
  width:100%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px; 
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  outline: none;
  }
  
  textarea {
	  width:800px;
	  height: 200px; 
	  display: block;
	  box-sizing: border-box;
	  padding: 0 10px;
	  margin-bottom: 15px;
	  border: 1px solid #cdcdcd;
	  outline: none;
	  }
  
	  @media screen and (min-width: 1300px) {
	  
		  textarea {
			  width:1000px;
			  height: 200px;
		  }
		  
	  }
	  
	  @media screen and (max-width: 480px) {
		  
		  textarea {
			  width:250px;
			  height: 150px;
		  }
		  
	  }
  
  
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type=textarea]:focus
  input[type="number"]:focus,
  input[type="tel"]:focus { 
	border: 1px solid #869960;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
  }
  
  input[type="submit"] {
	width:100%;
	display: block;
	box-sizing: border-box;
	background-color: #2e16b8;
	color: #FFFF;
	padding: 10px 0;
	border: 1px solid #2e16b8;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: none;
	}
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
	border: 1px solid hsl(0, 0%, 9%);
	background-color: hsl(204, 59%, 44%);
  }
  
  .checkbox-text {
	font-size: 85%;
	color: #777;;
	}
  
  /* Form Styles End */
  
  
  html {
	  background-color: #170f3f;
	  line-height: 1.7;
  }
  
  body {
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: 15px;
	  margin: 0;
	  padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6, p {
	  margin-top: 0;
  }
  
  img {
	  max-width: 100%;
	  height: auto;
  }
  
  a {
	  text-decoration: none;
  }
  
  /* Main Column Typography */
  .main-area h2 {
	  font-size: 165%;
	  font-weight: normal;
  }
  
  .container {
	  max-width: 960px;
	  margin: 0 auto;
	  padding-left: 40px;
	  padding-right: 40px;
  }
  
  @media screen and (min-width: 1300px) {
	  
	  body {
		  font-size: 17px;
	  }
	  
	  .container {
		  max-width: 1200px;
	  }
	  
  }
  
  @media screen and (max-width: 480px) {
	  
	  .container {
		  padding-left: 20px;
		  padding-right: 20px;
	  }
	  
  }
  
  header {
	  padding-top: 20px;
	  color: #FFF;
	  background-color: #617140;
  }
  
  header h1 {
	  margin: 0;
	  font-weight: normal;
	  font-size: 165%;
  }
  
  header p {
	  font-size: 90%;
	  margin: 0;
  }
  
  /* Site Navigation */
  .site-nav {
	  margin-top: 20px;
  }
  
  .site-nav ul {
	  margin: 0;
	  padding: 0;
  }
  
  .site-nav li {
	  list-style: none;
	  float: left;
	  margin-right: 5px;
  }
  
  .site-nav a {
	  display: block;
	  color: #FFF;
	  padding: 10px 20px;
	  background-color: #536036;
  }
  
  .site-nav a:hover {
	  background-color: #4e5a33;
  }
  
  @media screen and (max-width: 700px) {
	  
	  .site-nav li {
		  width: 33.332%;
		  margin-right: 0;
	  }
	  
	  .site-nav a {
		  padding: 15px 0;
		  margin-right: 5px;
		  margin-bottom: 5px;
		  text-align: center;
	  }
	  
  }
  
  @media screen and (max-width: 480px) {
	  
	  .site-nav li {
		  width: 50%;
	  }
	  
  }
  
  
  
  /* End Site Navigation */
  
  
  .content-area {
	  background-color: #FFF;
	  padding-bottom: 40px;
	  padding-top: 40px;
  }
  
  @media screen and (max-width: 480px) {
	  .content-area {
		  padding-top: 20px;
	  }
  }
  
  .main-area {
	  width: 66%;
	  float: left;
	  padding-right: 40px;
	  box-sizing: border-box;
  }
  
  .sidebar {
	  width: 34%;
	  float: left;
	  background-color: #e5e9dc;
	  padding: 20px 40px;
	  box-sizing: border-box;
	  font-size: 85%;
  }
  
  @media screen and (max-width: 700px) {
	  
	  .main-area,
	  .sidebar {
		  width: auto;
		  float: none;
	  }
	  
	  .main-area {
		  padding-right: 0;
	  }
	  
  }
  
  
  
  
  .info-box {
	  background-color: #efeedb;
	  border: 5px solid #e6e5c2;
	  padding: 20px 40px 7px 40px;
	  margin-bottom: 1em;
  }
  
  @media screen and (max-width: 480px) {
	  
	  .hide-small {
		  display: none;
	  }
	  
  }
  
  /* Bounce Animation */
  @-webkit-keyframes fadeBounce {
	  
	  0% {
		  opacity: 0;
		  transform: translateY(-200%);
	  }
	  
	  40% {
		  transform: translateY(0);
	  }
	  
	  55% {
		  transform: translateY(-6px);
	  }
	  
	  70% {
		  opacity: 1;
		  transform: translateY(0);
	  }
	  
	  85% {
		  transform: translateY(-3px);
	  }
		  
	  100% {
		  opacity: 1;
		  transform: translateY(0);
	  }
	  
  }
  
  @keyframes fadeBounce {
	  
	  0% {
		  opacity: 0;
		  transform: translateY(-200%);
	  }
	  
	  40% {
		  transform: translateY(0);
	  }
	  
	  55% {
		  transform: translateY(-6px);
	  }
	  
	  70% {
		  opacity: 1;
		  transform: translateY(0);
	  }
	  
	  85% {
		  transform: translateY(-3px);
	  }
		  
	  100% {
		  opacity: 1;
		  transform: translateY(0);
	  }
	  
  }
  
  
  /* End Bounce Animation */
  
  
  .box-a {
	  opacity: 0;
	  animation: fadeBounce 1s forwards;
	  -webkit-animation: fadeBounce 1s forwards;
	  background-color: #e7eff5;
	  padding: 20px 20px 0 20px;
	  border: 2px solid #d3dee7;
	  margin-bottom: 30px;
	  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, .10);
	  border-radius: 10px;
	  transform: rotate(360deg);
  }
  
  .boxes :nth-child(2) .box-a {
	  animation-delay: .5s;
	  -webkit-animation-delay: .5s;
  }
  
  .boxes :nth-child(3) .box-a {
	  animation-delay: 1s;
	  -webkit-animation-delay: 1s;
  }
  
  .boxes :nth-child(4) .box-a {
	  animation-delay: 1.5s;
	  -webkit-animation-delay: 1.5s;
  }
  
  .box-b {
	  text-align: center;
	  background-color: #CCC;
	  width: 200px;
	  height: 200px;
	  line-height: 200px;
	  margin-bottom: 40px;
	  border-radius: 50%;
	  transition: all 1s ease-out;
  }
  
  .box-a:hover {
	  transform: rotate(360deg);
  }
  
  /* The Modal (background) */
  .modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content/Box */
	.modal-content {
	  background-color: #fefefe;
	  margin: 15% auto; /* 15% from the top and centered */
	  padding: 20px;
	  border: 1px solid #888;
	  width: 80%; /* Could be more or less, depending on screen size */
	}
	
	/* The Close Button */
	.close {
	  color: #aaa;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}
	
	.close:hover,
	.close:focus {
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	}
  
	@import url("https://fonts.googleapis.com/css?family=Open+Sans");
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	
	html,
	body {
	  height: 100%;
	  margin: 0;
	}
	
	body {
	  background: #1c1f2b;
	  color: #fff;
	  font-family: "Open Sans", sans-serif;
	}
	
	/* LIST */
	ul {
	  list-style: none;
	}
	
	/* FORM */
	input {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	} 
	
	label {
	  display: block;
	  float: left;
	  height: 100vh;
	  width: 40px;
	  overflow: hidden;
	  background: #30354a;
	  text-align: center;
	  font-size: 14px;
	  line-height: 50px;
	  transition: background 300ms ease;
	}
	
	li:nth-child(even) > input + label {
	  background: #3a4059;
	}
	
	label:hover,
	li:nth-child(even) > input + label:hover {
	  background: #2196f3;
	  color: #fff;
	  cursor: pointer;
	}
	
	input[type=radio]:checked ~ label {
	  background: #2196f3;
	  color: #fff;
	  cursor: default !important;
	}
	
	/* SLIDES */
	.accslide {
	  display: block;
	  height: 100%;
	  width: 0px;
	  padding: 10px 0;
	  float: left;
	  overflow-x: hidden;
	  font-size: 12px;
	  line-height: 1.5;
	  transition: all 700ms ease;
	}
	.accslide * {
	  padding-left: 14px;
	  padding-right: 10px;
	}
	.accslide img {
	  margin-top: 10px;
	}
  
	p {
	  font-size: 15px;
	}
  
	ol li {
	  font-size: 15px;
	 }
  
	input[type=radio]:not(:checked) ~ label > * {
	  padding-left: 7px;
	  font-size: 1.2em;
	  white-space: nowrap;
	  transform: rotate(90deg);
	}
	
	input[type=radio]:checked ~ label > * {
	  display: none;
	}
	
	li:nth-child(1):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 80px);
	}
	
	li:nth-child(2):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 80px);
	}
	
	li:nth-child(1):nth-last-child(3) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 120px);
	}
	
	li:nth-child(2):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 120px);
	}
	
	li:nth-child(3):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 120px);
	}
	
	li:nth-child(1):nth-last-child(4) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 160px);
	}
	
	li:nth-child(2):nth-last-child(3) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 160px);
	}
	
	li:nth-child(3):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 160px);
	}
	
	li:nth-child(4):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 160px);
	}
	
	li:nth-child(1):nth-last-child(5) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 200px);
	}
	
	li:nth-child(2):nth-last-child(4) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 200px);
	}
	
	li:nth-child(3):nth-last-child(3) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 200px);
	}
	
	li:nth-child(4):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 200px);
	}
	
	li:nth-child(5):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 200px);
	}
	
	li:nth-child(1):nth-last-child(6) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 240px);
	}
	
	li:nth-child(2):nth-last-child(5) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 240px);
	}
	
	li:nth-child(3):nth-last-child(4) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 240px);
	}
	
	li:nth-child(4):nth-last-child(3) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 240px);
	}
	
	li:nth-child(5):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 240px);
	}
	
	li:nth-child(6):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 240px);
	}
	
	li:nth-child(1):nth-last-child(7) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(2):nth-last-child(6) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(3):nth-last-child(5) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(4):nth-last-child(4) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(5):nth-last-child(3) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(6):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(7):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 280px);
	}
	
	li:nth-child(1):nth-last-child(8) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(2):nth-last-child(7) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(3):nth-last-child(6) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(4):nth-last-child(5) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(5):nth-last-child(4) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(6):nth-last-child(3) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(7):nth-last-child(2) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
	
	li:nth-child(8):nth-last-child(1) input[type=radio]:checked ~ .accslide {
	  width: calc(100% - 320px);
	}
  
	.details,
	.show,
	.hide:target {
	  display: none;
	}
	.hide:target + .show,
	.hide:target ~ .details {
	  display: block;
	}
  
  .group:before,
  .group:after {
	  content: "";
	  display: table;
  }
  
  .group:after {
	  clear: both;
  }
  
  .group {
	  zoom: 1;
  }
  
  footer {
	  text-align: center;
	  font-size: 85%;
	  color: #FFF;
	  padding-bottom: 20px;
	  padding-top: 20px;
  }
  
  